footer {
    background-color: #ebebeb;
    padding: 3rem;
    .copyright {
        color: #aaaaaa;
        margin-top: 5rem;
        text-align: center;
        margin-bottom: .5rem;
        p {
            color: #aaaaaa;
        }
    }
}

